body {
}
img {
    max-width: 75px;
    max-height: 75px;
    margin-left: 5px;
}

h3 {
    margin: auto; /* Position the element at a specific point */
    width: 50%;
}

td {
    padding: 10px;
    margin: auto;
}

table {
    visibility: hidden;
}
/*
#orichecker{
    visibility:hidden;
}
*/